@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #E9ECEF;
  -webkit-tap-highlight-color: transparent;
}

body, html {
  height: 100%;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.1s ease-in-out;
}
a.lnk:hover {
  text-decoration: underline;
}
a.lnkg:hover {
  color: #68727B;
}

#err {
  font-size: 13px;
  color: #ff4444;
}

#mst {
  font-size: 13px;
  color: #68727B;
}

.article__title {
  font-size: 20px;
}

.article__text {
  font-size: 15px;
}

.form__title {
  font-size: 25px;
}

.form__label {
  font-size: 15px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 13px;
  transition: all 0.1s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 1px solid #343A40;
}
.btn img {
  width: 15px;
  height: 15px;
  background-color: transparent;
}
.btn.invert {
  color: #343A40;
  background-color: transparent;
}
.btn.invert img {
  filter: invert(19%) sepia(7%) saturate(1064%) hue-rotate(169deg) brightness(94%) contrast(86%);
}
.btn.invert.pressed {
  color: #E9ECEF;
  background-color: #343A40;
}
.btn.invert.pressed img {
  filter: invert(88%) sepia(7%) saturate(481%) hue-rotate(196deg) brightness(111%) contrast(87%);
}
.btn:not(.invert) {
  color: #E9ECEF;
  background-color: #343A40;
}
.btn:not(.invert) img {
  filter: invert(88%) sepia(7%) saturate(481%) hue-rotate(196deg) brightness(111%) contrast(87%);
}
.btn:not(.invert).pressed {
  color: #343A40;
  background-color: transparent;
}
.btn:not(.invert).pressed img {
  filter: invert(19%) sepia(7%) saturate(1064%) hue-rotate(169deg) brightness(94%) contrast(86%);
}
.btn.bold {
  border: 2px solid #343A40;
}
.btn:hover:not(.pressed) {
  color: #343A40;
  background-color: transparent;
}
.btn:hover:not(.pressed) img {
  filter: invert(19%) sepia(7%) saturate(1064%) hue-rotate(169deg) brightness(94%) contrast(86%);
}
.btn:hover:not(.pressed).invert {
  color: #E9ECEF;
  background-color: #343A40;
}
.btn:hover:not(.pressed).invert img {
  filter: invert(88%) sepia(7%) saturate(481%) hue-rotate(196deg) brightness(111%) contrast(87%);
}
.btn:hover:not(.pressed):not(.static) {
  transform: translateY(-2.5px);
}

.ipt {
  border: 1px solid #68727B;
  border-radius: 5px;
  font-size: 13px;
  padding: 15px;
}
.ipt.hidden {
  position: absolute;
  visibility: hidden;
}
.ipt:focus {
  border: 2px solid #343A40;
  outline: none;
}