@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #E9ECEF;
}

body, html {
  height: 100%;
}

.a-reset {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: 2px solid #343A40;
  border-radius: 5px;
  font-size: 13px;
  transition: all 0.1s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.btn.invert {
  color: #343A40;
  background-color: transparent;
}
.btn.invert.pressed {
  color: #E9ECEF;
  background-color: #343A40;
}
.btn:not(.invert) {
  color: #E9ECEF;
  background-color: #343A40;
}
.btn:not(.invert).pressed {
  color: #343A40;
  background-color: transparent;
}
.btn:hover:not(.pressed) {
  color: #343A40;
  background-color: transparent;
}
.btn:hover:not(.pressed).invert {
  color: #E9ECEF;
  background-color: #343A40;
}
.btn:hover:not(.pressed):not(.static) {
  transform: translateY(-2.5px);
}

.ipt {
  border: 1px solid #68727B;
  border-radius: 5px;
  font-size: 13px;
  padding: 15px;
}
.ipt:focus {
  border: 2px solid #343A40;
  outline: none;
}