.article__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}

.article__subcontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min(1000px, 100%);
  padding: 0 20px 20px 20px;
}

.article__btns-container {
  display: flex;
  gap: 15px;
}

.article__btns-container__group {
  display: flex;
  align-items: center;
  gap: 10px;
}