.articles__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 20px 20px 20px;
  color: #343A40;
}

.articles__subcontainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 500px));
  grid-template-rows: repeat(3, max-content);
  gap: 20px 15px;
  width: min(1000px, 100%);
}

@media screen and (max-width: 600px) {
  .articles__subcontainer {
    grid-template-columns: 100%;
  }
}