.article__container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
}

.article__subcontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min(1000px, 100%);
  padding: 0 20px 0 20px;
}

.btns__container {
  display: flex;
  gap: 15px;
}
.btns__container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid #343A40;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.btns__container button img {
  width: 15px;
  height: 15px;
  filter: invert(19%) sepia(7%) saturate(1064%) hue-rotate(169deg) brightness(94%) contrast(86%);
}
.btns__container button:hover:not(.pressed) {
  background-color: #343A40;
}
.btns__container button:hover:not(.pressed) img {
  filter: invert(88%) sepia(7%) saturate(481%) hue-rotate(196deg) brightness(111%) contrast(87%);
}
.btns__container button.pressed {
  background-color: #343A40;
}
.btns__container button.pressed img {
  filter: invert(88%) sepia(7%) saturate(481%) hue-rotate(196deg) brightness(111%) contrast(87%);
}

.btn__groupss {
  display: flex;
  align-items: center;
  gap: 10px;
}