#black {
  color: #343a40;
}

#dark {
  color: #495057;
}

#grey {
  color: #68727b;
}

#white {
  color: #e9ecef;
}

#red {
  color: #ff4444;
}

#blue {
  color: #4099ff;
}

.bold {
  font-weight: bold;
}

.f-sm {
  font-size: 11px;
}

.f-smx {
  font-size: 13px;
}

.f-md {
  font-size: 15px;
}

.f-mdx {
  font-size: 17px;
}

.f-bg {
  font-size: 19px;
}

.f-bgx {
  font-size: 21px;
}

.f-hg {
  font-size: 23px;
}

.f-hgx {
  font-size: 25px;
}

.articles__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 20px 25px 20px;
}

.articles__subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  gap: 50px;
}

.articles__btns {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 10px;
}
.articles__btns:has(> :last-child:nth-child(1)) {
  grid-template-columns: repeat(1, max-content);
}
.articles__btns:has(> :last-child:nth-child(2)) {
  grid-template-columns: repeat(2, max-content);
}

.articles {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 500px));
  gap: 20px 15px;
  width: min(1000px, 100%);
}

@media screen and (max-width: 600px) {
  .articles {
    grid-template-columns: 100%;
  }
}