.article__back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #68727B;
  border-radius: 5px;
  padding: 20px;
  transition: transform 0.15s ease-in-out;
  color: #343A40;
}
.article__back:hover {
  border: 1px solid #343A40;
  transform: translateY(-2.5px);
}

.article__back-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}