.article__form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 20px 20px 20px;
}

.article__form-subcontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min(1000px, 100%);
}

.article__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: inherit;
}

.article__form-groups {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: inherit;
}

.article__form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}