.article__front {
  display: flex;
  flex-direction: column;
  gap: 10px;
  word-break: break-all;
}

.article__front-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.article__front-subtitle {
  color: #68727B;
  font-size: 14px;
}