.article__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 20px 20px 20px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min(1000px, 100%);
  text-align: justify;
}

.article__btns {
  display: flex;
  gap: 15px;
}

.article__btns-group {
  display: flex;
  align-items: center;
  gap: 10px;
}