.auth__form-err {
  color: #ff4444;
}

.auth__form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 50px 20px 0 20px;
}

.auth__from-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 350px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.auth__form-groups {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.auth__form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: inherit;
}

.auth__form-btn__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.auth__form-btn__group-link {
  font-size: 15px;
  color: #68727B;
}
.auth__form-btn__group-link:hover {
  text-decoration: underline;
}

.auth__form-btn {
  width: min(200px, 50%);
  height: 45px;
  color: #E9ECEF;
  background-color: #343A40;
  border: 2px solid #343A40;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.auth__form-btn:hover {
  color: #343A40;
  background: none;
}

.auth__form-input {
  width: inherit;
  height: 45px;
  padding: 10px;
  border: 1px solid #68727B;
  border-radius: 5px;
}
.auth__form-input:focus {
  border: 2px solid #343A40;
  outline: none;
}

.input__group {
  position: relative;
  width: inherit;
}

.input__group-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
.input__group-btn.opened {
  background-image: url("../../imgs/eye_opened.png");
}
.input__group-btn.closed {
  background-image: url("../../imgs/eye_closed.png");
}
.input__group-btn:focus {
  outline: none;
}