.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 20px 0 20px;
  color: #343A40;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(1000px, 100%);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
}

@media screen and (max-width: 450px) {
  .header__container {
    height: -moz-max-content;
    height: max-content;
  }
  .header {
    flex-direction: column;
    gap: 30px;
  }
  .nav__container {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
  .nav__item {
    height: 35px;
  }
}