$black: #343a40;
$dark: #495057;
$grey: #68727b;
$white: #e9ecef;
$red: #ff4444;
$blue: #4099ff;

$s-sm: 5px;
$s-smx: 10px;
$s-md: 15px;
$s-mdx: 20px;
$s-bg: 25px;
$s-bgx: 30px;
$s-hg: 50px;
$s-hgx: 100px;

$f-sm: 11px;
$f-smx: 13px;
$f-md: 15px;
$f-mdx: 17px;
$f-bg: 19px;
$f-bgx: 21px;
$f-hg: 23px;
$f-hgx: 25px;

#black {
  color: $black;
}

#dark {
  color: $dark;
}

#grey {
  color: $grey;
}

#white {
  color: $white;
}

#red {
  color: $red;
}

#blue {
  color: $blue;
}

.bold {
  font-weight: bold;
}

.f-sm {
  font-size: $f-sm;
}

.f-smx {
  font-size: $f-smx;
}

.f-md {
  font-size: $f-md;
}

.f-mdx {
  font-size: $f-mdx;
}

.f-bg {
  font-size: $f-bg;
}

.f-bgx {
  font-size: $f-bgx;
}

.f-hg {
  font-size: $f-hg;
}

.f-hgx {
  font-size: $f-hgx;
}
