$black: #343a40;
$dark: #495057;
$grey: #68727b;
$white: #e9ecef;
$red: #ff4444;
$blue: #4099ff;

$s-sm: 5px;
$s-smx: 10px;
$s-md: 15px;
$s-mdx: 20px;
$s-bg: 25px;
$s-bgx: 30px;
$s-hg: 50px;
$s-hgx: 100px;

$f-sm: 11px;
$f-smx: 13px;
$f-md: 15px;
$f-mdx: 17px;
$f-bg: 19px;
$f-bgx: 21px;
$f-hg: 23px;
$f-hgx: 25px;
