@import './vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: $black;
  background-color: $white;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  height: 100%;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: $grey; // если что - переопределение

    &.lnk {
      text-decoration: underline;
    }
  }
}
