@import "./vars.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: $white;
}

body, html {
    height: 100%;
}

.a-reset {
    text-decoration: none;
    color: inherit;
}

.btn {
    &.invert {
        color: $black;
        background-color: transparent;

        &.pressed {
            color: $white;
            background-color: $black;
        }
    }

    &:not(.invert) {
        color: $white;
        background-color: $black;

        &.pressed {
            color: $black;
            background-color: transparent;
        }
    }

    border: 2px solid $black;
    border-radius: 5px;
    font-size: $f-smx;
    transition: all .1s ease-in-out;
    user-select: none;

    &:hover:not(.pressed) {
        color: $black;
        background-color: transparent;

        &.invert {
            color: $white;
            background-color: $black;
        }

        &:not(.static) {
            transform: translateY(-2.5px);
        }
    }
}

.ipt {
    border: 1px solid $grey;
    border-radius: $s-sm;
    font-size: $f-smx;
    padding: $s-md;

    &:focus {
        border: 2px solid $black;
        outline: none;
    }
}
