@import './vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: $black;
  background-color: $white;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  height: 100%;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: $grey; // если что - переопределение

    &.lnk {
      text-decoration: underline;
    }
  }
}

#black {
  color: $black;
}

#dark {
  color: $dark;
}

#grey {
  color: $grey;
}

#white {
  color: $white;
}

#red {
  color: $red;
}

#blue {
  color: $blue;
}

.bold {
  font-weight: bold;
}

.f-sm {
  font-size: $f-sm;
}

.f-smx {
  font-size: $f-smx;
}

.f-md {
  font-size: $f-md;
}

.f-mdx {
  font-size: $f-mdx;
}

.f-bg {
  font-size: $f-bg;
}

.f-bgx {
  font-size: $f-bgx;
}

.f-hg {
  font-size: $f-hg;
}

.f-hgx {
  font-size: $f-hgx;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $grey;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  user-select: none;

  img {
    width: 100%;
    height: 100%;
    scale: 0.5; // prevent image from cropping
    background-color: transparent;
  }

  &.invert {
    color: $black;
    background-color: transparent;

    img {
      filter: invert(19%) sepia(7%) saturate(1064%) hue-rotate(169deg)
        brightness(94%) contrast(86%);
    }

    &.pressed {
      color: $white;
      background-color: $black;

      img {
        filter: invert(88%) sepia(7%) saturate(481%) hue-rotate(196deg)
          brightness(111%) contrast(87%);
      }
    }
  }

  &:not(.invert) {
    color: $white;
    background-color: $black;

    img {
      filter: invert(88%) sepia(7%) saturate(481%) hue-rotate(196deg)
        brightness(111%) contrast(87%);
    }

    &.pressed {
      color: $black;
      background-color: transparent;

      img {
        filter: invert(19%) sepia(7%) saturate(1064%) hue-rotate(169deg)
          brightness(94%) contrast(86%);
      }
    }
  }
}

.ipt {
  border: 1px solid $grey;
  border-radius: 5px;
  padding: $s-md;

  &.hidden {
    position: absolute;
    visibility: hidden;
  }

  &:focus {
    border: 2px solid $black;
    outline: none;
  }
}

@media (hover: hover) {
  .btn {
    &:hover:not(.pressed) {
      border: 1px solid $black;

      &:not(.static) {
        transform: translateY(-1.5px);
      }
    }
  }
}
