@import "./vars.scss";


.article__form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: $s-hg $s-mdx 0 $s-mdx;
}

.article__form-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $s-mdx;
    width: min(1000px, 100%);
}

.article__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $s-bgx;
    width: 100%;
}

.article__form-groups {
    display: flex;
    flex-direction: column;
    gap: $s-smx;
    width: inherit;
}

.article__form-group {
    display: flex;
    flex-direction: column;
    gap: $s-sm;
    width: inherit;
}