@import "./vars.scss";


.articles__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: $s-hg $s-mdx $s-mdx $s-mdx;
    color: $black;
}

.articles__subcontainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 500px));
    grid-template-rows: repeat(3, max-content);
    gap: $s-mdx $s-md;
    width: min(1000px, 100%);
}

@media screen and (max-width: 600px) {
    .articles__subcontainer {
        grid-template-columns: 100%;
    }
}