@import "./vars.scss";

.auth__form-err {
    color: $red;
}

.auth__form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    padding: 50px 20px 0 20px; // eye is going wild on 200px bc its compressed lol
}

.auth__from-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 350px;
}

.auth__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.auth__form-groups {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.auth__form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: inherit;
}

.auth__form-btn__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.auth__form-btn__group-link {
    font-size: 15px;
    color: $grey;

    &:hover {
        text-decoration: underline;
    }
}

.auth__form-btn {
    width: min(200px, 50%);
    height: 45px;
    color: $white;
    background-color: $black;
    border: 2px solid $black;
    border-radius: 5px;
    transition: all .1s ease-in-out;

    &:hover {
        color: $black;
        background: none;
    }
}

.auth__form-input {
    width: inherit;
    height: 45px;
    padding: 10px;
    border: 1px solid $grey;
    border-radius: 5px;

    &:focus {
        border: 2px solid $black;
        outline: none;
    }
}

.input__group {
    position: relative;
    width: inherit;
}

.input__group-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;

    &.opened {
        background-image: url("../../imgs/eye_opened.png");
    }

    &.closed {
        background-image: url("../../imgs/eye_closed.png");
    }

    &:focus {
        outline: none;
    }
}