@import "./vars.scss";


.auth__form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: $s-hg $s-mdx 0 $s-mdx;
}

.auth__form-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $s-mdx;
    width: min(350px, 100%);
}

.auth__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $s-bgx;
    width: 100%;
}

.auth__form-groups {
    display: flex;
    flex-direction: column;
    gap: $s-smx;
    width: inherit;
}

.auth__form-group {
    display: flex;
    flex-direction: column;
    gap: $s-sm;
    width: inherit;
}

.auth__form-btn__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $s-smx;
    width: inherit;
}

.auth__form-ipt__group {
    position: relative;
    width: inherit;
}

.auth__form-ipt__group-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;

    &.opened {
        background-image: url("../../imgs/eye_opened.png");
    }

    &.closed {
        background-image: url("../../imgs/eye_closed.png");
    }
}