@import "./vars.scss";


.profile__container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 20px 0 20px;
    color: $black;
}

.profile__subcontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: min(1000px, 100%);
}

.profile__articles-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 500px));
    grid-template-rows: repeat(3, max-content);
    gap: 20px 15px;
    width: inherit;
}

.profile__group {
    display: flex;
    align-items: center;
    gap: 10px;
    width: inherit;
}

@media screen and (max-width: 600px) {
    .profile__articles-container {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 450px) {
    .profile__group {
        flex-direction: column;
        align-items: flex-start;
    }
}
  